<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <h1>Welcome to <%= @restaurant.name %></h1>

      <div>
        <%= link_to "Add Review", new_restaurant_review_path(@restaurant) %>
      </div>

      <div>
        <%= link_to "Back to list of restaurants", restaurants_path %>
      </div>

    </div>
  </div>
</div>



